# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [6]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path) 
city_data_df=city_data_df.set_index(["City_ID"])

city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
City_ID,,,,,,,,,
0,Port Elizabeth,ZA,-33.9180,25.5701,68.31,99,3,3.62,clear sky
1,Awjilah,LY,29.1081,21.2869,50.94,65,2,14.36,clear sky
2,Atuona,PF,-9.8000,-139.0333,78.96,76,92,22.03,overcast clouds
3,Kavieng,PG,-2.5744,150.7967,84.56,68,86,8.16,overcast clouds
4,Avarua,CK,-21.2078,-159.7750,78.85,83,75,17.27,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [8]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [11]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]
                                                                      
# Display sample data
preferred_cities_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
City_ID,,,,,,,,,
2,Atuona,PF,-9.8000,-139.0333,78.96,76,92,22.03,overcast clouds
3,Kavieng,PG,-2.5744,150.7967,84.56,68,86,8.16,overcast clouds
4,Avarua,CK,-21.2078,-159.7750,78.85,83,75,17.27,light rain
5,Kapaa,US,22.0752,-159.3190,79.12,77,75,10.36,light rain
6,Butaritari,KI,3.0707,172.7902,80.22,79,100,16.82,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [36]:
preferred_cities_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
City_ID,,,,,,,,,
2,Atuona,PF,-9.8000,-139.0333,78.96,76,92,22.03,overcast clouds
3,Kavieng,PG,-2.5744,150.7967,84.56,68,86,8.16,overcast clouds
4,Avarua,CK,-21.2078,-159.7750,78.85,83,75,17.27,light rain
5,Kapaa,US,22.0752,-159.3190,79.12,77,75,10.36,light rain
6,Butaritari,KI,3.0707,172.7902,80.22,79,100,16.82,light rain

In [35]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_cities =preferred_cities_df.dropna(subset=['City'])

# Display sample data
clean_cities.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
City_ID,,,,,,,,,
2,Atuona,PF,-9.8000,-139.0333,78.96,76,92,22.03,overcast clouds
3,Kavieng,PG,-2.5744,150.7967,84.56,68,86,8.16,overcast clouds
4,Avarua,CK,-21.2078,-159.7750,78.85,83,75,17.27,light rain
5,Kapaa,US,22.0752,-159.3190,79.12,77,75,10.36,light rain
6,Butaritari,KI,3.0707,172.7902,80.22,79,100,16.82,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [20]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_cities[["City","Country","Max Temp", "Current Weather","Lat","Lng"]].copy()


# Display sample data
hotel_df.head()

               City Country  Max Temp  Current Weather      Lat       Lng
City_ID
2            Atuona      PF     78.96  overcast clouds  -9.8000 -139.0333
3           Kavieng      PG     84.56  overcast clouds  -2.5744  150.7967
4            Avarua      CK     78.85       light rain -21.2078 -159.7750
5             Kapaa      US     79.12       light rain  22.0752 -159.3190
6        Butaritari      KI     80.22       light rain   3.0707  172.7902

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [21]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
City_ID,,,,,,,
2,Atuona,PF,78.96,overcast clouds,-9.8000,-139.0333,
3,Kavieng,PG,84.56,overcast clouds,-2.5744,150.7967,
4,Avarua,CK,78.85,light rain,-21.2078,-159.7750,
5,Kapaa,US,79.12,light rain,22.0752,-159.3190,
6,Butaritari,KI,80.22,light rain,3.0707,172.7902,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [22]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [25]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
City_ID,,,,,,,
2,Atuona,PF,78.96,overcast clouds,-9.8000,-139.0333,Villa Enata
3,Kavieng,PG,84.56,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
4,Avarua,CK,78.85,light rain,-21.2078,-159.7750,Paradise Inn
5,Kapaa,US,79.12,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Butaritari,KI,80.22,light rain,3.0707,172.7902,Isles Sunset Lodge

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [37]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how="any")

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
City_ID,,,,,,,
2,Atuona,PF,78.96,overcast clouds,-9.8000,-139.0333,Villa Enata
3,Kavieng,PG,84.56,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
4,Avarua,CK,78.85,light rain,-21.2078,-159.7750,Paradise Inn
5,Kapaa,US,79.12,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Butaritari,KI,80.22,light rain,3.0707,172.7902,Isles Sunset Lodge

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [38]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [43]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [44]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>\n<dt>City</dt><dd>Kavieng</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>light rain and 78.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 79.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>light rain and 80.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 79.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>light rain and 76.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Hotel Mildura</dd>\n<dt>City</dt><dd>Mildura</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le Manotel</dd>\n<dt>City</dt><dd>Moerai</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 80.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ibis Styles Karratha</dd>\n<dt>City</dt><dd>Karratha</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>few clouds and 93.16 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [45]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

             Lat       Lng
City_ID
2        -9.8000 -139.0333
3        -2.5744  150.7967
4       -21.2078 -159.7750
5        22.0752 -159.3190
6         3.0707  172.7902
14      -23.1203 -134.9692
27      -21.3585   55.7679
28      -34.2000  142.1500
31      -22.4333 -151.3333
48      -20.7377  116.8463

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [46]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp=clean_hotel_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations,
                               weights=max_temp,
                               dissipating=False,
                               max_intensity=300,
                               point_radius=4)

# Create a figure to add the Google map as a layer
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))